<table border="1ptx">
<thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Programa</th>
            <th>Fecha de nacimiento</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td><%= @student.nombre%></td>
            <td><%= @student.correo%></td>
            <td><%= @student.programa%></td>
            <td><%= @student.fecha_nacimiento%></td>
        </tr>
</table>