<h1>PROFESORES ASDI 2019 RUBEN</h1>


<table border="1ptx" class=">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Fecha de nacimiento</th>
            <th>Profesor Area</th>
            <th>Ver</th>
			<th>Actualizar</th>
			<th>Borrar</th>
        </tr>
        
    </thead>


    <tbody> 

        <% @teachers.each do |teacher|%>
        <tr>
            <td><%=teacher.nombre %></td>
            <td><%=teacher.correo%></td>
            <td><%=teacher.fecha_nacimiento%></td>
            <td><%=teacher.programa%></td>
            	<td><button type="button"
                            class="btn btn-primary">Ver</button></a></td>
                        <td><button type="button" class="btn btn-warning">Editar</button>
                        <td><button type="button" class="btn btn-danger">Eliminar</button>
                         </td>
           
            
        </tr>
        <% end %>
        
    </tbody>
</table>

<a href="/teachers/new"> Crear Profesor</a>