<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <h2>Nuevo Profesor</h2>

    <form action='/teachers' method='post'>
        <label for ="teacher[nombre]"> Nombre</label></br>
        <input type="text" name="teacher[nombre]"></br>

        <label for ="teacher[correo]"> Correo Electronico</label></br>
        <input type="text" name="teacher[correo]"></br>
        
        <label for ="teacher[fecha_nacimiento]"> Fecha de Nacimiento</label></br>
        <input type="date" name="teacher[fecha_nacimiento]"></br>

        <label for ="teacher[programa]"> Programa</label></br>
        <input type="text" name="teacher[programa]"></br>

        
        <br>
        <input type="submit" value="Guardar">

    </form>
    
</head>
<body>
    
</body>
</html>

