<table border="1ptx">
<thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Fecha de nacimiento</th>
            <th>Profesor Area</th>
        </tr>
        
    </thead>
    <tbody>
        <tr>
            <td><%=teacher.nombre %></td>
            <td><%=teacher.correo%></td>
            <td><%=teacher.fecha_nacimiento%></td>
            <td><%=teacher.programa%></td>
        </tr>
</table>